.tox .tox-statusbar {
  display: none !important;
}

.tox.tox-tinymce {
  border: none !important;
}

.tox .tox-editor-container {
  /* position: relative !important; */
}

.tox .tox-edit-area::before {
  border: none !important;
}
